{%extends "core/base.html"%}

{%block content%}
<div class="container course">
	<div class="header">
		<h1>PHY 009A</h1>
	</div>
	<div class="" id="chat">
		add chat later
	</div>
	<div class="container" id="deadlines">
	<!-- select only deadlines from selected class -->
		<div class="deadline">
			<h2>Today</h2>
			<ul>
				<li><h4>ECS 030</h4> Project 2 due</li>
				<li><h4>ENG 010</h4> Midterm 1</li><!-- maybe add times?-->
				<li><h4>PHY 009A</h4> Homework 3 due</li>
			</ul>
		</div>
	</div>
</div>
{%endblock%}