<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> jqueryui if needed -->
<script src="/ClassOrganizer/core/static/js/bootstrap.min.js"></script>
<script src="/ClassOrganizer/core/static/js/custom.js"></script>
<link rel="stylesheet" href="/ClassOrganizer/core/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/ClassOrganizer/core/static/css/custom.css">
<title>Class Organizer</title>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="" data-target="">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <button type="button" class="navbar-toggle" data-toggle="" data-target="">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
    		<a class="navbar-brand" href="#">Class Organizer</a>
		</div>
	</div>
</div>

<div class="main-page" >
<!-- 
Content goes here
-->
{%block content%}{%endblock%}
</div>

</body>
</html>
