<html>
<head>
<link href="{{ STATIC_URL }}core/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}core/css/custom.css" rel="stylesheet">
<title>Class Organizer</title>
</head>
<body>
<div class="navbar-custom" id="navbar">
	
		
			<div id="left-button-div">
				<a href="">
					<span class="glyphicon glyphicon-align-justify"></span>
			    </a>
		    </div>
			<div id="title-div">
				<h3 class="">Class Organizer</h3>
			</div>
			<div id="right-button-div">
			    <a href="">
			    	<span class="glyphicon glyphicon-align-justify"></span>
			    </a>
		    </div>
		
	
</div>

<div class="main-page" >
<!-- 
Content goes here
-->
{%block content%}{%endblock%}
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> jqueryui if needed -->
<script src="{{ STATIC_URL }}core/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}core/js/custom.js"></script>
</html>