{%extends "core/base.html"%}

{% load humanize %}

{%block content%}
<div class="page" id="left">
	<div id="upcoming-deadlines">
		<div class="header">
			<div class="div3">
				<h1>Upcoming Deadlines</h1>
			</div>
		</div>
		<!-- sample -->
		{% for day, group in deadlines.items %}
		<div class="deadline">
			<h2>{{day|naturalday}}</h2>
			<ul>
			{% for note in group %}
				<li><h4>{{note.course}}</h4> {{note}} </li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
</div>

<div class="page" id="middle">
	<div class="main-content" id="groups">
		<div class="header">
			<div class="div1">
				<h1>Groups</h1>
			</div>
			<div class="div2">
				<button type="button" class="btn btn-primary">+</button>
			</div>
		</div>
		{% for course, update in user_courses %}
		<div class="group">
			<div class="notifications">
				<a href="#"><span></span>{{update}}</a>
			</div>
			<a href="#"><span></span>{{course}}</a>
		</div>
		{% endfor %}
	</div>
</div>



<div class="page" id="right">
	
	<div class="main-content" id="calendar">
		<div class="header">
			<h1>Messages</h1>
		</div>
		{% for update in user_updates %}
		<div>{{update.user}} - {{update.text}}</div>
		{% endfor %}
	</div>
</div>
{%endblock%}