{%extends "core/base.html"%}

{%block content%}
<div class="container" id="left">
	<div class="col-md-11" id="groups">
		<div class="header">
			<h1>Groups</h1>
		</div>
		<button type="button">+</button><!--plus sign button to add group-->
		<div class="group">
			<div class="notifications">
				<a href="#">1</a>
			</div>
			<a href="#">ECS 030</a>
		</div>
		<div class="group">
			<div class="notifications">
				<a href="#">4</a>
			</div>
			<a href="#">ENG 010</a>
		</div>
		<div class="group">
			<div class="notifications">
				<a href="#">0</a>
			</div>
			<a href="#">PHY 009A</a>
		</div>
		<!-- template
		<div class="group">
			<div class="notifications">
				<a href="#">{number of new notifications}</a>
			</div>
			<a href="#">{class name}</a>
		</div>
		-->
	</div>
	<div class="col-md-1" id="left-bar">
		<button type="button" class="navbar-toggle" data-toggle="" data-target="">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	</div>
</div>

<div class="container" id="middle">
	<div id="upcoming-deadlines">
		<div class="header">
			<h1>Upcoming Deadlines</h1>
		</div>
		<button type="button">
			Open Calendar
		</button>
		<!-- sample -->
		<div class="deadline">
			<h2>Today</h2>
			<ul>
				<li><h4>ECS 030</h4> Project 2 due</li>
				<li><h4>ENG 010</h4> Midterm 1</li><!-- maybe add times?-->
				<li><h4>PHY 009A</h4> Homework 3 due</li>
			</ul>
		</div>
		<div class="deadline">
			<h2>Tomorrow</h2>
			<ul>
				<li><h4>ECS 30</h4> Midterm</li>
			</ul>
		</div>
		<!-- template
		<div class="deadline">
			<h2>{date}</h2>
			<ul>
				for deadline in date
				<li><h4>{class naem}</h4> {assignment}</li>
			</ul>
		</div>
		-->
	</div>
</div>

<div class="container" id="right">
	<div class="col-md-1" id="right-bar">
		<button type="button" class="navbar-toggle" data-toggle="" data-target="">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	</div>
	<div class="col-md-11" id="calendar">
		<div class="header">
			<h1>Calendar</h1>
		</div>
		add calendar later
	</div>
</div>
{%endblock%}