.main-page {
	width: 990px;
}

.container {
	padding: 0px;
}

.navbar {
	margin: 0px;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 0;
}

ul {
	list-style: none;
}

.navbar-custom {
	position: fixed;
	right: 0px;
	left: 0px;
	height: 50px;
	background-color: #ddd;
	box-shadow: rgba(0, 0, 0, 0.470588) 0px 1px 2px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.470588) 0px 1px 2px 0px;
}

.main-page {
	padding-top: 51px;
}

.page {
	width: 350;
	float: left;
}

#middle {
	width: 360px;
}

#left, #right {
	width: 315px;
}

#left {
	margin-right:;
}

button {
	/*background-color:#428bca;
	border-color:#357ebd;*/
}

.container > .navbar-custom {
	margin: 0px;
}

.navbar-custom div{
	float: left;
	display: block;
	font-size: 36px;
}

#left-button-div {
	float: left;
	width: 44px;
	height: 50px;
}

#right-button-div {
	float: left;
	width: 44px;
	height: 50px;
}

#left-button-div span{
	width: 44px;
	height: 44px;
	padding: 3px 4px;
}

#right-button-div  span{
	width: 44px;
	height: 44px;
	padding: 3px 4px;
}

 #right-button-div button, 
 #left-button-div button {
 	/*background-color: #5BC0DE;
 	border-color: #46B8DA;*/
 }
#title-div  {
	text-align: center;
	float: left;
	width: -moz-calc(100% - 2 * 44px);
    width: -webkit-calc(100% - 2 * 44px);
    width: calc(100% - 2 * 44px);
    height: 50px;
}

#title-div h3 {
	margin: 10px 0;
	font-size: 22px;
	
}

#right-menu-button {
	margin: 8px 0;
	float: right;
}

#left-menu-button {
	margin: 8px 0;
}



.header {
	float: left;
	margin: 0;
	width: 100%;
	margin-top: 0px;
	height: 50px;
	display: block;
	background: #ffcd00;
}

.header h1 {
	font-size: 24px;
	margin: 11px 0;
	
}

.header button{
	float: right;
	margin: 10px 0;
}

.header {
	text-align: center;
	
}

#upcoming-deadlines {
	
}

.div1 {
	float: left;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	width: 310px;

	/*width: -moz-calc(100% - 48px);
    width: -webkit-calc(100% - 48px);
    width: calc(100% - 48px);*/

}

.div1 h1 {
	padding-left: 25px;
}

.div2 button {
	padding: 8px 14px;
	margin: 5px;
}

.div3 {
	float: left;
	
	
}

.notifications {
	float: left;
	width: 36px;
	height: 36px;
	background-color: #e00;
	color: #FFF;
	border: 1px solid #667D9D;
	border-radius: 3px;
	margin: 5px 0 0 5px;
	line-height: 36px;
}

.group {
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	display: block;
	width: 360px;
	border: 2px solid #000;
	border-left: none;
	border-right: none;
	margin-top: 2px;
	background-color: #7F93AE;
	color: #FFF;
	border-color: #357EBD;
}

.group a{
	font-size: 20px;
	text-decoration: none;
	color: #FFF;
	
}

.group > a span {
	height: 50px;
	width: 360px;
	display: block;
}

.notifications a span {
	height: 34px;
	width: 34px;
	display: block;
}
.main-content, .side-column {
	float: left;
	display: block;
}

.main-content {
	/*width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px);*/
}

.side-column {
	background-color: #002855;
	height: 500px;
	width: 44px;
}



.deadline h2 {
	padding-left: 10px;
	box-shadow: inset 0 -4px 7px -7px #000000;
}

.deadline ul li {
	box-shadow: 0 0 5px #888;
	margin: 2px 5px;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 3px;
	border-radius: 5px;
	background-color: #ddd;
}

.deadline ul li h4 {
	padding-top: 7px;
}

.blues {
color: #fff;

cursor: pointer;
font-family: Arial, Tahoma, sans-serif;
font-size: 1.0em;
font-weight: bold;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
border-width: 1px;
border-color: #0053a6 #0053a6 #ddd;
background-color: #6891e7;
background-image: -moz-linear-gradient(top,#4495e7 0, #0053a6 100%);
background-image: -ms-linear-gradient(top,#4495e7 0, #0053a6 100%);
background-image: -o-linear-gradient(top,#4495e7 0, #0053a6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4495e7),color-stop(100%, #0053a6));
background-image: -webkit-linear-gradient(top,#4495e7 0,#0053a6 100%);
background-image: linear-gradient(to bottom,#4495e7 0,#0053a6 100%);
text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4495e7,EndColorStr=#0053a6);
}

.blues:hover {
border-color: #002d59 #002d59 #000;
-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, .25);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3a8cdf ,EndColorStr=#0053a6);
background-image: -moz-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -ms-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -o-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3a8cdf),color-stop(100%,#0053a6));
background-image: -webkit-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: linear-gradient(to bottom,#3a8cdf 0,#0053a6 100%);
}

.blues:active {
border-color: #000 #002d59 #002d59;
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
-ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#005ab4,EndColorStr=#175ea6);
background-image: -moz-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -ms-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -o-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#005ab4),color-stop(100%,#175ea6));
background-image: -webkit-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: linear-gradient(to bottom,#005ab4 0,#175ea6 100%);
}
