.main-page {
	width: 990px;
}

.container {
	padding: 0px;
}

.navbar {
	margin: 0px;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 0;
}

.navbar-custom {
	position: fixed;
	right: 0px;
	left: 0px;
	height: 50px;
	background-color: #ccc;
}

.main-page {
	padding-top: 51px;
}

.page {
	width: 350;
	float: left;
}

#middle {
	width: 360px;
}

#left, #right {
	width: 315px;
}

button {
	/*background-color:#428bca;
	border-color:#357ebd;*/
}

.container > .navbar-custom {
	margin: 0px;
}

.navbar-custom div{
	float: left;
	display: block;
	font-size: 36px;
}

#left-button-div {
	float: left;
	width: 44px;
	height: 50px;
}

#right-button-div {
	float: left;
	width: 44px;
	height: 50px;
}

#left-button-div span{
	width: 44px;
	height: 44px;
	padding: 3px 4px;
}

#right-button-div  span{
	width: 44px;
	height: 44px;
	padding: 3px 4px;
}

 #right-button-div button, 
 #left-button-div button {
 	/*background-color: #5BC0DE;
 	border-color: #46B8DA;*/
 }
#title-div  {
	text-align: center;
	float: left;
	width: -moz-calc(100% - 2 * 44px);
    width: -webkit-calc(100% - 2 * 44px);
    width: calc(100% - 2 * 44px);
    height: 50px;
}

#title-div h3 {
	margin: 10px 0;
	font-size: 22px;
	
}

#right-menu-button {
	margin: 8px 0;
	float: right;
}

#left-menu-button {
	margin: 8px 0;
}



.header {
	float: left;
	margin: 0;
	width: 100%;
	border-bottom: 2px solid #000;
	height: 50px;
}

.header h1 {
	font-size: 20px;
	width:;
	
}

.header button{
	float: right;
	margin: 10px 0;
}

.header {
	text-align: center;
	
}

#upcoming-deadlines {
	
}

.div1 {
	float: left;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	width: 310px;

	/*width: -moz-calc(100% - 48px);
    width: -webkit-calc(100% - 48px);
    width: calc(100% - 48px);*/

}

.div1 h1 {
	padding-left: 25px;
}

.div2 button {
	padding: 8px 14px;
	margin: 5px;
}

.div3 {
	float: left;
	
	
}

.notifications {
	float: left;
	width: 36px;
	height: 36px;
	background-color: #002855;
	color: #FFF;
	border: 1px solid #667D9D;
	border-radius: 3px;
	margin: 5px 0 0 5px;
	line-height: 36px;
}

.group {
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	display: block;
	width: 360px;
	border: 2px solid #000;
	border-left: none;
	border-right: none;
	margin-top: 2px;
	background-color: #7F93AE;
	color: #FFF;
	border-color: #357EBD;
}

.group a{
	font-size: 20px;
	text-decoration: none;
	color: #FFF;
	
}

.group > a span {
	height: 50px;
	width: 360px;
	display: block;
}

.notifications a span {
	height: 34px;
	width: 34px;
	display: block;
}
.main-content, .side-column {
	float: left;
	display: block;
}

.main-content {
	/*width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px);*/
}

.side-column {
	background-color: #002855;
	height: 500px;
	width: 44px;
}

